{% extends 'base.html' %}
{% load static %}
{% block title %}Tag-Template|TheGoodFood{% endblock %}
{% block content %}
    <main class="page">
      <div class="featured-recipes">
        <h4>Beef</h4>
          <!-- recipes list -->
        <div class="recipes-list">
          <!-- single recipe -->
          <a href="{% url 'single-recipe' %}" class="recipe">
            <img
              src="{% static 'img/recipes/recipe-1.jpeg' %}"
              class="img recipe-img"
              alt=""
            />
            <h5>Carne Asada</h5>
            <p>Prep : 15min | Cook : 5min</p>
          </a>
          <!-- end of single recipe -->
          <!-- single recipe -->
          <a href="{% url 'single-recipe' %}" class="recipe">
            <img
              src="{% static 'img/recipes/recipe-2.jpeg' %}"
              class="img recipe-img"
              alt=""
            />
            <h5>Greek Ribs</h5>
            <p>Prep : 15min | Cook : 5min</p>
          </a>
          <!-- end of single recipe -->
          <!-- single recipe -->
          <a href="{% url 'single-recipe' %}" class="recipe">
            <img
              src="{% static 'img/recipes/recipe-3.jpeg' %}"
              class="img recipe-img"
              alt=""
            />
            <h5>Vegetable Soup</h5>
            <p>Prep : 15min | Cook : 5min</p>
          </a>
          <!-- end of single recipe -->
          <!-- single recipe -->
          <a href="{% url 'single-recipe' %}" class="recipe">
            <img
              src="{% static 'img/recipes/recipe-4.jpeg' %}"
              class="img recipe-img"
              alt=""
            />
            <h5>Banana Pancakes</h5>
            <p>Prep : 15min | Cook : 5min</p>
          </a>
          <!-- end of single recipe -->
        </div>
        <!-- end of recipe list -->
      </div>
          
    </main>
{% endblock %}